.btn-primary {
  --bs-btn-color: #ffffff;
  --bs-btn-bg:  #8d008fa6;
  --bs-btn-border-color:  #8d008fa6;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #1c80cf;
  --bs-btn-hover-border-color: #1a78c2;
  --bs-btn-focus-shadow-rgb: 66, 166, 245;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #1a78c2;
  --bs-btn-active-border-color: #1971b6;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #2196f3;
  --bs-btn-disabled-border-color: #2196f3;
}

.form-check-input:checked {
  background-color:  #8d008fa6;

}

.form-switch .form-check-input:checked::before {
  left: calc(100% - .8em);
  background-color:  #8d008fa6;
}
.form-switch .form-check-input:checked {
  background-color:  #8d008fa6;
}

.page-link {
  position: relative;
  display: block;
  padding: var(--bs-pagination-padding-y) var(--bs-pagination-padding-x);
  font-size: var(--bs-pagination-font-size);
  color: #00000085;
  text-decoration: none;
  background-color: var(--bs-pagination-bg);
  border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

/* assets/styles.css */
.custom-layout {
  width: 100%;  /* Garantindo que o layout ocupe 100% da largura disponível */
}

body::-webkit-scrollbar {
  width: 12px;  /* largura da barra de rolagem */
}

body::-webkit-scrollbar-track {
  background: #f5f5f5;  /* cor da área de rastreamento */
}

body::-webkit-scrollbar-thumb {
  background-color: #8d008fa6;  /* cor do polegar de rolagem */
  border-radius: 20px;  /* arredondamento do polegar de rolagem */
  border: 3px solid #8d008fa6;  /* cria padding em torno do polegar de rolagem */
}

.kanban-board {
  display: flex;
  justify-content: space-between;
}

.kanban-column {
  border: 1px solid white;
  border-radius: 5px;
}

.kanban-column-body {
  min-height: 300px;
  background-color: #ffffff00;
  padding: 10px;
  border-top: 1px solid white;
}

.kanban-item {
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.rounded-card {
  border-radius: 15px;  
}

.no-link-button {
  color: inherit;  /* Herda a cor do elemento pai */
  text-decoration: none;  /* Remove o sublinhado */
  background: none;  /* Remove o fundo do botão */
  border: none;  /* Remove a borda do botão */
  padding: 0;  /* Remove o preenchimento do botão */
  cursor: pointer;  /* Mantém o cursor pointer */
  outline: none;  /* Remove a borda de foco */
  box-shadow: none;  /* Remove qualquer sombra */
}

/* Estilos para o modal */
.custom-modal .modal-dialog {
  max-width: 800px;
  max-width: 300px;  /* Limita a largura do modal */
  margin: auto;  /* Centraliza o modal horizontalmente */
  display: flex;
  align-items: center;  /* Centraliza verticalmente */
  justify-content: center;  /* Centraliza horizontalmente */
  min-height: calc(100% - 1rem);  /* Ajusta a altura mínima do modal */
}

.custom-modal .modal-content {
  border-radius: 15px !important;
  max-height: 80vh;  /* Limita a altura do modal */
  overflow-y: auto;  /* Ativa o scroll vertical */
}

.custom-modal .modal-body {
  overflow-y: auto;  /* Garante que o modal tenha barra de rolagem */
}

/* Estilos para a barra de rolagem no modal */
.custom-modal .modal-body::-webkit-scrollbar {
  width: 12px;  /* largura da barra de rolagem */
}

.custom-modal .modal-body::-webkit-scrollbar-track {
  background: #f5f5f5;  /* cor da área de rastreamento */
}

.custom-modal .modal-body::-webkit-scrollbar-thumb {
  background-color: #8d008fa6;  /* cor do polegar de rolagem */
  border-radius: 20px;  /* arredondamento do polegar de rolagem */
  border: 3px solid #8d008fa6;  /* cria padding em torno do polegar de rolagem */
}

.custom-backdrop .modal-backdrop {
  background-color: rgba(0, 0, 0, 0.5) !important;  /* Fundo escuro */
}

.table-card {
  margin-top: 15px;
}

.card-header-table {
  background-color: #f8f9fa;
  font-weight: bold;
  border: 1px solid #dee2e6;
  border-radius: 2px;
  margin-bottom: 1rem;
}

.card-body-table {
  border: 1px solid #dee2e6;
  border-radius: 10px;
  background-color: white;

}

.card-row-table {
  border-bottom: 1px solid #dee2e6;
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
}

.custom-header-text {
  margin-top: 12px;
  font-size: 18px;
  font-weight: bold;
}

.first-column-margin {
  margin-left: 35px;
}

.custom-button {
  background-color:  #8d008fa6;
  border-color:  #8d008fa6;
  color: white; /* Para garantir que o texto seja legível sobre a cor de fundo */
}

.custom-button:hover {
  background-color: #8a4c8f; /* Cor um pouco mais escura para o efeito hover */
  border-color: #8a4c8f;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus {
  color:  #8d008fa6;
  border: none;
  box-shadow: inset 0 -2px 0  #8d008fa6;
}

.card-map-container {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Garante que nada "escape" do card */
}

.card-map {
  height: 400px; /* Altura fixa */
  width: 100%;
}